---
layout: landing
---

<section class="header">
    <div class="one-third column">
        <img src="images/logo_350@2x.png" width="273" height="350" title="Anarchy Tools Logo" id="logo">
    </div>
    <div class="two-thirds column">
        <h1 class="remove-bottom" style="margin-top: 80px">Anarchy Tools</h1>
        <h6>an opinionatedly, unopinionated set of tools for building Swift projects</h6>
        <nav id="links" class="offset-by-three columns">
            <a href="#install">install</a> |
            <a href="#docs">docs</a> |
            <a href="https://github.com/anarchytools">source</a>
        </nav>
    </div>
</section>

<hr>

<section class="info">
    <div class="five columns">
        <p id="pitch">The Anarchy Tools toolset provides a straight forward way to build your Swift tools
            and libraries and manage their dependencies. It takes a non-nonsense approach to getting things
            done. Best of all, it's built right on top of the
            <a href="https://github.com/apple/swift-llbuild">swift-llbuild</a> foundation and plain
            simple git.</p>
    </div>
    <div class="seven columns">
        <pre>
(package
  :name "simple-sample"
  :tasks { :build { :name "sample"
                    :tool "atllbuild"
                    :sources ["src/**.swift"]
                    :output-type "executable" }})</pre>

    </div>
</section>
    
<hr>

<section class="info">
    <div class="three columns offset-by-one"><h3>Install (OSX)</h3></div>
    <div class="eight columns">
        <a name="install"></a>
        <ol>
            <li>Install <a href="http://brew.sh">homebrew</a></li>
            <li>Add our tap: <br /><code>brew tap AnarchyTools/homebrew</code></li>
            <li>Install our tools: <br /><code>brew install atbuild atpm</code></li>

    </div>
</section>

<hr>

<section class="info">
    <div class="three columns offset-by-one"><h3>Install (Debian)</h3></div>
    <div class="eight columns">
        <a name="install"></a>
        <ol>
            <li>Install our repository:<br /><code>curl -s https://packagecloud.io/install/repositories/anarchytools/AT/script.deb.sh | bash</code></li>
            <li>Install our tools: <br /><code>apt-get install atbuild atpm</code></li>

    </div>
</section>

<hr>

<section class="info">
    <div class="four columns"><h3>Documentation</h3></div>

    <div class="eight columns">
        <a name="docs"></a>
        <p>Our documentation is like us.  Disorganized, but awesome.
        </p>

        <div>
            <span>Read about:</span>

            <ul class="links">
            {% for page in site.pages %}
                {% if page.tags contains "docs" %}
                  <li><a href="{{ page.url }}">{{ page.name | replace: '.md', '' }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>
    </div>
    
</section>