body {
  padding: 50px 0 200px 0;
}

h1, h2, h3 {
  font-family: "Bitter", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

nav#links {
  margin-top: 109px;
}

a, a:visited {
  color: #25536D;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover, a:focus {
 color: black;
}


p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

p#pitch {
  text-align: left;
}

pre, tt, kbd, code {
  font-family: 'Inconsolata', 'Consolas', mono;
}

hr {
  margin: 35px 0;
}

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
